{% extends "admin/base.html" %}

{% block title %}{{ title }} | Data-Pro Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <i class="bi bi-shield-lock"></i> Data-Pro Administration
    </a>
</h1>
{% endblock %}

{% block nav-global %}
{% if user.is_authenticated %}
<div id="user-tools">
    Welcome, <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    <a href="{% url 'logout' %}">Log out</a>
</div>
{% endif %}
{% endblock %}